.progress {
  position: relative;
}

#progressValue {
  position: absolute;
  height: 100%;
  width: 100%;
  font-weight: bold;
  text-align: center;
}

body {
  padding-bottom: 15px;
}

header a {
  font-family: 'Alex Brush', Arial, sans-serif;
  font-size: 60px;
  color: inherit;
}

header a:hover {
  text-decoration: none;
}

#error ul, #eta ul {
  list-style: none;
  margin: -8px 0;
  padding-left: 0;
}

#error li, #eta li {
  margin: 8px 0;
}

.circle {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  color: #555;
  border: 1px solid #ccc;
  background-color: #f5f5f5;
  font-weight: normal;
  display: inline-block;
  padding: 2px !important;
  text-align: center !important;
}

.form-fixed-width .circle {
  float: left;
  margin-top: 4px;
  margin-right: 8px;
}

.markers .circle {
  margin-left: -13px;
  position: absolute;
}

.markers {
  height: 26px;
  position: relative;
  margin-bottom: 4px;
  overflow: visible;
}

#error .circle, #eta .circle {
  margin: 0 2px;
}

.has-error .circle {
    border: 1px solid #ebccd1;
    background-color: #f2dede;
}

.form-fixed-width {
  max-width: 400px;
  margin: auto;
}

.form-fixed-width .form-group {
  margin-left: 0;
  margin-right: 0;
}

.form-fixed-width .form-control,
.form-fixed-width .btn {
  width: calc(100% - 2 * 34px);
  float: left;
}

.form-fixed-width .delete-event {
  float: left;
  width: 34px;
  height: 34px;
}

.form-fixed-width .btn {
  margin-left: 34px;
}

.form-fixed-width .add-event {
  margin-top: -5px;
  margin-bottom: 10px;
  margin-right: 34px;
}
